.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.center {
  margin: auto;
  width: 75%;
}

.progress {
  height: 10px;
}

.row {
  margin-bottom: 0px;
}

#container {
  margin: 0px;
  padding-right: 30px;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
